html
    head
        title= title
    body
        h1= title
        h2 Create user ID
        form(action='/rest/ticket', method='POST')
            label(for='userId') Ticket ID:
            input(type='text', id='userId', name='userId')
            br
            label(for='type') Type:
            input(type='text', id='type', name='type')
            br
            label(for='subject') Subject:
            input(type='text', id='subject', name='subject')
            br
            label(for='description') Description:
            input(type='text', id='description', name='description')
            br
            label(for='priority') Priority:
            input(type='text', id='priority', name='priority')
            br
            label(for='status') Status:
            input(type='text', id='status', name='status')
            br
            label(for='recipient') Recipient:
            input(type='text', id='recipient', name='recipient')
            br
            label(for='submitter') Submitter:
            input(type='text', id='submitter', name='submitter')
            br
            button(type='submit') Create
        h2 Search user ID
        form(action='/rest/ticket/id', method='POST')
            label(for='userId') user ID:
            input(type='text', id='userId', name='userId')
            br
            button(type='submit') Search
        button(type='button', onclick="window.location.href='/rest/list'") List All
        if error
            p.error= error
